.btn-secondary {
    background-color: green;
    border-color: green;
    color: white;
}

h2{
  color: red;
}

p{
  color: red;
}

h1 {
  color: red;
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
  position: relative;
  bottom: 0;
  left: 0;
}
